[Unit]
Description=uvicorn instance for a censor fastapi
After=network.target
[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/modelapi
ExecStart=/home/ubuntu/modelapi/venv/bin/uvicorn app:app --host 127.0.0.1  --post 8000
Restart=always
[Install]
WantedBy=multi-user.target
